# prevent directory listings
Options -Indexes
IndexIgnore */*

# follow symbolic links
Options FollowSymlinks

RewriteEngine on
RewriteRule ^downloads downloads/$1 [L,PT]
RewriteRule ^backend/(.+)?$ backend/web/$1 [L,PT]
RewriteRule ^common/(.+)?$ common/$1 [L,PT]
RewriteRule ^(.+)?$ frontend/web/$1
